<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollegeSocialLifeSuite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CollegeSocialLifeSuiteWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3374CA601A7D6C1100A3E52F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3374CA781A7D6C1100A3E52F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93CEDAE91A8CE4A800461D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
